/* Font Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald";
}

/* Navigation Bar */
.nav-bar {
    overflow: hidden;
    background-color: #333;
}

.nav-bar-icon {
    display: block;
    float: left;
    margin-top: 5px;      
    width: 50px;          
    height: 50px;         
}

.linking-anchors {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Body */
body {
    background-color: #f1f1f1;
    font-family: "Open Sans";
    margin: 0px;
}

.main-portion {
    padding: 0px;
}

/* Pagination Styles */
.pagination {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}

.pagination button {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px;
        margin: 0 5px;
        cursor: pointer;
}

.pagination button.active {
            background-color: #ddd;
         color: black;
 }

